[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
mypy = "*"
jupyter = "*"
notebook = "*"
ipykernel = "*"
black = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
coverage = "*"

[packages]
scikit-learn = "*"
scikit-image = "*"
tinydb = "*"
pyyaml = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
